{
  "log": {
    "_recordingName": "fetch-workflow-jobs",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f9bf8085bdb082e21af1e52ae75ab43",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "circle-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://circleci.com/api/v2/me/collaborations"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 260,
            "text": "[ {\n  \"vcs_type\" : \"circleci\",\n  \"slug\" : \"circleci/P41trZB78zFveRJerr7hfw\",\n  \"name\" : \"cci-h6wmx\",\n  \"id\" : \"b294d532-8745-40f9-b93a-9b2e0cd17ed2\",\n  \"avatar_url\" : \"https://avatars.githubusercontent.com/u/1231870?v=4\"\n} ]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "51"
            },
            {
              "name": "circleci-user-id",
              "value": "d280c914-6160-4579-8b6b-45990c908356"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "50"
            },
            {
              "name": "x-route",
              "value": "/api/v2/me/collaborations"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1174,
      },
      {
        "_id": "bba2831322de8bb9fe9648cd82a0e680",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "circle-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "org-slug",
              "value": "circleci/P41trZB78zFveRJerr7hfw"
            }
          ],
          "url": "https://circleci.com/api/v2/pipeline?org-slug=circleci%2FP41trZB78zFveRJerr7hfw"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 3132,
            "text": "{\n  \"next_page_token\" : \"AO9ui9-APOUCT4vQgBsqrVGSDeXRzPrUBFTrKG1va57FJmY-Fx6GmeRsECD8EjRF0p6VJTZuBOZ6Wrk5GDaqIx-4cu9IjgM2gtjNhMnPhKQqerNT7rYGLwm8hJSXhguKCpGkQ44bMyaVEutWQ3bD4i50bT2uKc29HpAjlKK-jyrxpGjz2Z0x7N_YnK2Rk9aj1OAoZdJJkWja\",\n  \"items\" : [ {\n    \"id\" : \"1fbf1be9-fc3a-40a1-b89e-ba26e20c70c8\",\n    \"errors\" : [ ],\n    \"project_slug\" : \"circleci/P41trZB78zFveRJerr7hfw/UTwTQ7dTKAXHkg6XtrBJHm\",\n    \"updated_at\" : \"2024-02-08T13:52:09.888Z\",\n    \"number\" : 1,\n    \"trigger_parameters\" : {\n      \"event\" : {\n        \"title\" : \"API Webhook Processed\",\n        \"description\" : \"An API trigger pipeline has been created\"\n      },\n      \"github_app\" : {\n        \"repo_url\" : \"https://github.com/code-community-1/test\",\n        \"repo_full_name\" : \"code-community-1/test\",\n        \"config_file_path\" : \".circleci/config.yml\",\n        \"repo_id\" : \"627228977\",\n        \"branch\" : \"main\",\n        \"content_ref\" : \"8093468c7890ad9a3085223eb2a6cc453a98ac84\",\n        \"default_branch\" : \"main\"\n      },\n      \"git\" : {\n        \"checkout_sha\" : \"8093468c7890ad9a3085223eb2a6cc453a98ac84\",\n        \"ref\" : \"8093468c7890ad9a3085223eb2a6cc453a98ac84\",\n        \"branch\" : \"main\",\n        \"checkout_url\" : \"git@github.com:code-community-1/test.git\"\n      },\n      \"circleci\" : {\n        \"event_time\" : \"2024-02-08T13:52:09Z\",\n        \"actor_id\" : \"d280c914-6160-4579-8b6b-45990c908356\",\n        \"event_type\" : \"api\",\n        \"trigger_type\" : \"github_app\"\n      }\n    },\n    \"state\" : \"created\",\n    \"created_at\" : \"2024-02-08T13:52:09.888Z\",\n    \"trigger\" : {\n      \"received_at\" : \"2024-02-08T13:52:09.000Z\",\n      \"type\" : \"github_app\",\n      \"actor\" : {\n        \"login\" : \"\",\n        \"avatar_url\" : null\n      }\n    }\n  }, {\n    \"id\" : \"f71ef612-6c6f-438a-9fa4-bd299c366e9b\",\n    \"errors\" : [ ],\n    \"project_slug\" : \"circleci/P41trZB78zFveRJerr7hfw/NpYKw8zYpkPUXxpRChDe1k\",\n    \"updated_at\" : \"2024-02-08T13:51:21.186Z\",\n    \"number\" : 1,\n    \"trigger_parameters\" : {\n      \"event\" : {\n        \"title\" : \"API Webhook Processed\",\n        \"description\" : \"An API trigger pipeline has been created\"\n      },\n      \"github_app[...]
