{
  "log": {
    "_recordingName": "build-project-and-pipelines-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5f9bf8085bdb082e21af1e52ae75ab43",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "circle-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://circleci.com/api/v2/me/collaborations"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 260,
            "text": "[ {\n  \"vcs_type\" : \"circleci\",\n  \"slug\" : \"circleci/P41trZB78zFveRJerr7hfw\",\n  \"name\" : \"cci-h6wmx\",\n  \"id\" : \"b294d532-8745-40f9-b93a-9b2e0cd17ed2\",\n  \"avatar_url\" : \"https://avatars.githubusercontent.com/u/1231870?v=4\"\n} ]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "51"
            },
            {
              "name": "circleci-user-id",
              "value": "d280c914-6160-4579-8b6b-45990c908356"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "50"
            },
            {
              "name": "x-route",
              "value": "/api/v2/me/collaborations"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 877,
      },
      {
        "_id": "7b505ff183b1b64059caf49ffef3db6b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "circle-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://circleci.com/api/v2/project/circleci%2FP41trZB78zFveRJerr7hfw%2F4MnekCoaAa1jaMKrdxNTDg"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 372,
            "text": "{\n  \"slug\" : \"circleci/P41trZB78zFveRJerr7hfw/4MnekCoaAa1jaMKrdxNTDg\",\n  \"organization_name\" : \"cci-h6wmx\",\n  \"organization_id\" : \"b294d532-8745-40f9-b93a-9b2e0cd17ed2\",\n  \"name\" : \"delete14\",\n  \"id\" : \"1b326cb7-1b6a-43e5-8bfb-93e7ae450bff\",\n  \"organization_slug\" : \"circleci/P41trZB78zFveRJerr7hfw\",\n  \"vcs_info\" : {\n    \"vcs_url\" : \"//circleci.com/b294d532-8745-40f9-b93a-9b2e0cd17ed2/1b326cb7-1b6a-43e5-8bfb-93e7ae450bff\",\n    \"default_branch\" : \"main\",\n    \"provider\" : \"CircleCI\"\n  }\n}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "51"
            },
            {
              "name": "circleci-user-id",
              "value": "d280c914-6160-4579-8b6b-45990c908356"
            },
            {
              "name": "x-ratelimit-remaining",
              "va[...]
