{
  "log": {
    "_recordingName": "fetch-user-groups",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5f9bf8085bdb082e21af1e52ae75ab43",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "circle-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://circleci.com/api/v2/me/collaborations"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 216,
            "text": "[ {\n  \"vcs_type\" : \"github\",\n  \"slug\" : \"gh/kjb-test\",\n  \"name\" : \"kjb-test\",\n  \"id\" : \"89b36fdd-6c18-4e17-8db2-cc34834a9eeb\",\n  \"avatar_url\" : \"https://avatars.githubusercontent.com/u/103236643?v=4\"\n}, {\n  \"vcs_type\" : \"github\",\n  \"slug\" : \"gh/kjb-up\",\n  \"name\" : \"kjb-up\",\n  \"id\" : \"ad83ce21-02a2-4d73-9741-2cdf2a65c47d\",\n  \"avatar_url\" : \"https://avatars.githubusercontent.com/u/103376963?v=4\"\n} ]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            },
            {
              "name": "x-circleci-identity",
              "value": "[REDACTED]"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "151"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "150"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0"
            },
            {
              "name": "x-route",
              "value": "/api/v2/me/collaborations"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 555,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
