{
  "log": {
    "_recordingName": "fetch-projects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "5f9bf8085bdb082e21af1e52ae75ab43",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "circle-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://circleci.com/api/v2/me/collaborations"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 216,
            "text": "[ {\n  \"vcs_type\" : \"github\",\n  \"slug\" : \"gh/kjb-test\",\n  \"name\" : \"kjb-test\",\n  \"id\" : \"89b36fdd-6c18-4e17-8db2-cc34834a9eeb\",\n  \"avatar_url\" : \"https://avatars.githubusercontent.com/u/103236643?v=4\"\n}, {\n  \"vcs_type\" : \"github\",\n  \"slug\" : \"gh/kjb-up\",\n  \"name\" : \"kjb-up\",\n  \"id\" : \"ad83ce21-02a2-4d73-9741-2cdf2a65c47d\",\n  \"avatar_url\" : \"https://avatars.githubusercontent.com/u/103376963?v=4\"\n} ]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            },
            {
              "name": "x-circleci-identity",
              "value": "[REDACTED]"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "151"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "150"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "0"
            },
            {
              "name": "x-route",
              "value": "/api/v2/me/collaborations"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 565,
      },
      {
        "_id": "0000168543d9a86cbcbce8a65c23f1cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "circle-token",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "org-slug",
              "value": "gh/kjb-test"
            }
          ],
          "url": "https://circleci.com/api/v2/pipeline?org-slug=gh%2Fkjb-test"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 1035,
            "text": "{\n  \"next_page_token\" : null,\n  \"items\" : [ {\n    \"id\" : \"4d82ca99-b202-4b88-8cff-9e76fa948d0b\",\n    \"errors\" : [ ],\n    \"project_slug\" : \"gh/kjb-test/Repo1\",\n    \"updated_at\" : \"2022-04-14T13:33:31.244Z\",\n    \"number\" : 6,\n    \"state\" : \"created\",\n    \"created_at\" : \"2022-04-14T13:33:31.244Z\",\n    \"trigger\" : {\n      \"received_at\" : \"2022-04-14T13:33:30.990Z\",\n      \"type\" : \"webhook\",\n      \"actor\" : {\n        \"login\" : \"kjb-up\",\n        \"avatar_url\" : \"https://avatars.githubusercontent.com/u/103376963?v=4\"\n      }\n    },\n    \"vcs\" : {\n      \"origin_repository_url\" : \"https://github.com/kjb-test/Repo1\",\n      \"target_repository_url\" : \"https://github.com/kjb-test/Repo1\",\n      \"revision\" : \"28758379c6a7a9a8fc54b29e2e720062530cf921\",\n      \"provider_name\" : \"GitHub\",\n      \"commit\" : {\n        \"body\" : \"\",\n        \"subject\" : \"Update kjb-test-commit\"\n      },\n      \"branch\" : \"circleci-project-setup\"\n    }\n  }, {\n    \"id\" : \"9428e071-7858-4d56-8127-b6049afb46d5\",\n    \"errors\" : [ ],\n    \"project_slug\" : \"gh/kjb-test/Repo1\",\n    \"updated_at\" : \"2022-04-14T13:24:33.759Z\",\n    \"number\" : 5,\n    \"state\" : \"created\",\n    \"created_at\" : \"2022-04-14T13:24:33.759Z\",\n    \"trigger\" : {\n      \"received_at\" : \"2022-04-14T13:24:33.329Z\",\n      \"type\" : \"webhook\",\n      \"actor\" : {\n        \"login\" : \"kjb-up\",\n        \"avat[...]
